
<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a href="/user/home/{{.loginUserId}}.html">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="/user/index.html">
        <i class="layui-icon">&#xe612;</i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="/user/set.html">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="/user/message.html">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
	  <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
	    <button class="layui-btn layui-btn-danger" id="LAY_delallmsg">清空全部消息</button>
	    <div  id="LAY_minemsg" style="margin-top: 10px;">
        <!---->
        <ul class="mine-msg">
          {{range .messages}}
          <li data-id="{{.Id}}">
            <blockquote class="layui-elem-quote">
              {{if eq .ObjType 1}}
                系统消息：
              {{end}}
              {{str2html .Content}}
            </blockquote>
            <p><span>{{dateformat .CreatedAt "2006-01-02 15:04:05"}}</span><a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
          </li>
            {{else}}
            <div class="fly-none">您暂时没有最新消息</div>
          {{end}}
        </ul>
      </div>
	  </div>
	</div>

</div>
<script>
  layui.cache.page = 'user';
  layui.config({
    version: "3.0.0"
    ,base: '/static/mods/'
  }).extend({
    fly: 'index'
  }).use('fly');
</script>