<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li class="layui-hide-xs layui-this"><a href="/">首页</a></li>
      <li><a href="/column/1.html">提问</a></li>
      <li><a href="/column/2.html">分享<span class="layui-badge-dot"></span></a></li>
      <li><a href="/column/3.html">建议</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

      <!-- 用户登入后显示 -->
      {{if lt 0 .loginUserId}}
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/liuyao/index">六爻装卦</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/liuyao/rand_index">在线起卦</a></li>
      {{end}}
    </ul>

    <div class="fly-column-right layui-hide-xs">
      <span class="fly-search"><i class="layui-icon"></i></span>
      <a href="/add.html" class="layui-btn">发表新帖</a>
    </div>
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
      <a href="/add.html" class="layui-btn">发表新帖</a>
    </div>
  </div>
</div>